Repository ddev01/uren-old: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/pint

Update edit styling
  app/View/Components/Flowbite/Inputs/Input.php
  app/View/Components/Flowbite/Inputs/Select.php
  resources/views/components/flowbite/inputs/input.blade.php
  resources/views/components/flowbite/inputs/select.blade.php
  resources/views/livewire/pages/estimate/edit.blade.php
  resources/views/livewire/pages/estimate/edit/row.blade.php
  resources/views/livewire/pages/estimate/edit/section.blade.php
  resources/views/livewire/pages/estimate/edit/table.blade.php
Due: prettier --write, ./vendor/bin/pint

Capitalize components
  app/View/Components/Button.php
  app/View/Components/Container.php
  app/View/Components/Svg.php
  app/View/Components/button.php
  app/View/Components/container.php
  app/View/Components/svg.php
Due: ./vendor/bin/pint

Fix svg
  app/View/Components/Svg.php
  resources/views/components/svg.blade.php
Due: prettier --write, ./vendor/bin/pint

Change tailwind content
  tailwind.config.js
Due: prettier --write

change tailwind content capitalization
  tailwind.config.js
Due: prettier --write

Fix images
  app/Models/User.php
  public/images/default-avatar.png
  public/images/logo.png
Due: ./vendor/bin/pint

idk
  .phpstorm.meta.php
  artisan
Due: ./vendor/bin/pint

fix: larastan level 5
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Middleware/EstimatePermissions.php
  app/Livewire/Pages/Estimate/Edit/Row.php
  app/Livewire/Pages/Estimate/Edit/Table.php
  app/Livewire/Pages/Estimate/Index.php
  app/Models/EstimateSection.php
Due: ./vendor/bin/pint

feat: x-user.container-section
  app/View/Components/User/ContainerSection.php
  resources/views/components/user/container-section.blade.php
  resources/views/livewire/pages/home/index.blade.php
  resources/views/livewire/pages/user/contact/index-contact.blade.php
  resources/views/livewire/pages/user/dashboard/index-dashboard.blade.php
  resources/views/livewire/pages/user/profile/index.blade.php
  resources/views/livewire/pages/user/settings/estimate/index-estimate.blade.php
  resources/views/livewire/pages/user/settings/general/index-general.blade.php
  resources/views/livewire/pages/user/settings/index.blade.php
Due: prettier --write, ./vendor/bin/pint

feat: change password
  .lintstagedrc
  app/Livewire/Pages/User/Settings/General/IndexGeneral.php
  resources/views/components/flowbite/inputs/input.blade.php
  resources/views/livewire/pages/user/profile/index.blade.php
  resources/views/livewire/pages/user/settings/general/index-general.blade.php
Due: prettier --write, ./vendor/bin/pint

chore: add svgs
  public/svgs/eye-slash.svg
  public/svgs/eye.svg
  public/svgs/key.svg
Due: none

chore: commit linting & pre-commit phpstan analazy
  .husky/commit-msg
  .lintstagedrc
  commitlint.config.js
  database/factories/EstimateFactory.php
  database/migrations/2023_12_08_221138_create_estimate_section_rows_table.php
  package-lock.json
  package.json
Due: prettier --write, ./vendor/bin/pint

chore: upgrade npm & composer packages
  composer.lock
  package-lock.json
Due: none

fix(phpstan): 61 level 6 errors
  .lintstagedrc
  app/Livewire/Components/Modal/ShareManage.php
  app/Livewire/Pages/Dashboard/Profile/Index.php
  app/Livewire/Pages/Estimate/Edit.php
  app/Livewire/Pages/Estimate/Edit/Row.php
  app/Livewire/Pages/Estimate/Edit/Section.php
  app/Livewire/Pages/Estimate/Edit/Summary.php
  app/Livewire/Pages/Estimate/Edit/Table.php
  app/Livewire/Pages/Estimate/Index.php
  app/Livewire/Pages/Home/Index.php
  app/Livewire/Pages/User/Contact/IndexContact.php
  app/Livewire/Pages/User/Dashboard/IndexDashboard.php
  app/Livewire/Pages/User/Profile/Index.php
  app/Livewire/Pages/User/Settings/Estimate/IndexEstimate.php
  app/Livewire/Pages/User/Settings/General/IndexGeneral.php
  app/Livewire/Pages/User/Settings/Index.php
  app/Mail/Estimate/Shared.php
  app/Models/Estimate.php
  app/Models/EstimateSection.php
  app/Models/EstimateSectionRow.php
  app/Models/User.php
  app/View/Components/Flowbite/Button.php
  app/View/Components/Flowbite/Inputs/Input.php
  app/View/Components/Input/Checkbox.php
  app/View/Components/Input/Estimate/Textarea.php
  app/View/Components/Input/Input.php
  app/View/Components/Input/Number.php
  app/View/Components/Input/Select.php
  app/View/Components/Svg.php
Due: ./vendor/bin/pint

fix(phpstan): only 5 errors left
  .phpstorm.meta.php
  _ide_helper.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/EstimatePdfController.php
  app/Livewire/Components/Modal/ShareManage.php
  app/Livewire/Pages/Dashboard/Profile/Index.php
  app/Livewire/Pages/Estimate/Edit.php
  app/Livewire/Pages/Estimate/Edit/Row.php
  app/Livewire/Pages/Estimate/Edit/Section.php
  app/Livewire/Pages/Estimate/Edit/Summary.php
  app/Livewire/Pages/Estimate/Edit/Table.php
  app/Livewire/Pages/Estimate/Index.php
  app/Livewire/Pages/Home/Index.php
  app/Livewire/Pages/User/Contact/IndexContact.php
  app/Livewire/Pages/User/Dashboard/IndexDashboard.php
  app/Livewire/Pages/User/Profile/Index.php
  app/Livewire/Pages/User/Settings/Estimate/IndexEstimate.php
  app/Livewire/Pages/User/Settings/General/IndexGeneral.php
  app/Livewire/Pages/User/Settings/Index.php
  app/Models/Estimate.php
  app/Models/EstimateSection.php
  app/Models/EstimateSectionRow.php
  app/Models/EstimateShare.php
  app/Models/User.php
  app/View/Components/Flowbite/Button.php
  database/migrations/2023_12_08_204632_create_estimates_table.php
  duster.json
  phpstan.neon
  resources/views/livewire/components/modal/share-manage.blade.php
Due: prettier --write, ./vendor/bin/pint

chore(phpstan): fix last errors
  app/Livewire/Pages/Estimate/Edit/Section.php
  phpstan.neon
Due: ./vendor/bin/pint

chore(composer): add laravel rector
  composer.json
  composer.lock
Due: none

chore(composer): add laravel rector
  rector.php
Due: ./vendor/bin/pint

chore(rector): install & configure laravel rector
  .lintstagedrc
  app/Livewire/Pages/Estimate/Index.php
  app/Models/User.php
  rector.php
Due: ./vendor/bin/pint

refactor(rector): rector codebase
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/Livewire/Components/Modal/ShareManage.php
  app/Livewire/Pages/Estimate/Edit/Row.php
  app/Livewire/Pages/Estimate/Edit/Section.php
  app/Livewire/Pages/User/Profile/Index.php
  app/Mail/Estimate/Shared.php
  app/Providers/RouteServiceProvider.php
  app/View/Components/Flowbite/Button.php
  app/View/Components/Flowbite/Inputs/Input.php
  app/View/Components/Input/Checkbox.php
  app/View/Components/Input/Estimate/Textarea.php
  app/View/Components/Input/Input.php
  app/View/Components/Input/Number.php
  app/View/Components/Input/Select.php
  app/View/Components/Svg.php
  config/sanctum.php
  routes/api.php
  routes/channels.php
Due: ./vendor/bin/pint

chore: lint, ide helpers
  .lintstagedrc
  .prettierignore
  phpstan.neon
  rector.php
Due: ./vendor/bin/pint

Fix: EstimateFactory
  database/factories/EstimateFactory.php
  database/seeders/DatabaseSeeder.php
  package-lock.json
Due: ./vendor/bin/pint

Path conditions:
  prettier --write: (((any of: *.blade.php) or (any of: *.css)) or (any of: *.scss)) or (any of: *.js)
  ./vendor/bin/pint: any of: *.php
